:host {
  display: block;
  position: relative;
}
.lang {
  position: absolute;
  right: 0;
}
mat-icon {
  cursor: pointer;
}
.form-group {
  margin-bottom: 5px;
}
.singInContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 8px);
  height: 85vh;
  .logo {
    color: #aaaaaa;
    font-weight: bold;
    padding-right: 50px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  .login-form {
    .main-login-form {
      display: flex;
      align-items: center;
      .login-group {
        .login-group-checkbox {
          span {
            color: #555555;
          }
        }
      }
      .login-button {
        background: #ffffff;
        color: #999999;
        width: 50px;
        height: 50px;
        border: 5px solid #efefef;
        border-radius: 50%;
        outline: 0;
        cursor: pointer;
        margin-bottom: 7px;
        margin-left: 7px;
        transition: all ease-in-out 500ms;
        &:hover {
          color: #555555;
          transform: rotate(450deg);
        }
      }
    }
    .etc-login-form {
      padding: 10px 0;
      p {
        font-size: 14px;
        color: #919191;
      }
      a {
        color: #428bca;
        text-decoration: none;
      }
    }
  }
}
.goBack {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 7px;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: #545454;
  }
}
