<div class="lang">
  <button class="langBtn" mat-button [matMenuTriggerFor]="menu">{{langText | uppercase}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeLang('az')">AZ</button>
    <button mat-menu-item (click)="changeLang('en')">EN</button>
  </mat-menu>
</div>

<div class="singInContent">
  <div class="login-form">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width" >
              <input matInput placeholder="{{'FORM.currentPassword' | translate}}" required [type]="hide ? 'password' : 'text'" [formControlName]="'lastPassword'">
              <mat-icon matSuffix  (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error >{{'FORM.inputCurrentPassword' | translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'FORM.newPassword' | translate}}"  required [type]="hide2 ? 'password' : 'text'" [formControlName]="'password'">
              <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error >{{'FORM.inputNewPassword' | translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'FORM.confirmNewPassword' | translate}}"  required [type]="hide3 ? 'password' : 'text'" [formControlName]="'passwordConfirmation'">
              <mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error >{{'FORM.confirmNewPasswordAgain' | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
      </div>
    </form>
  </div>

</div>
